html {
	position: relative;
	height: 100%;
}

body {
	width: 100%;
	margin: 0 auto;
	font-family: $sans-serif;
	font-size: 12px;
}

h1 {
	font-size: 48px;
	font-weight: bold;
}

h2 {
	font-size: 28px;
	font-weight: bold;
}

img {
	width: 100%;
	height: auto;
}

i {
	width: 100%;
	height: auto;
}

button {
  width: 100%;
  background: linear-gradient($main, $fill);
	color: white;
	border-style: solid;
	border-width: thin;
	border-color: $dark-main;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 16px;
  padding: 12px 0px;
  margin: 7px 0px;
  text-align: center;
}

button:hover {
	background: linear-gradient($hover-main, $fill);
}

button:active {
	background: linear-gradient($dark-main, $fill);
}

button:disabled {
	color: $dark-fill;
	background: $fill;
	border-color: $dark-fill;
	cursor: default;
}

.error {
	font-size: 14px;
	color: red;
	font-style: italic;
	padding-bottom: 5px;
}

input, textarea, select {
	width: 100%;
	font-size: 16px;
	padding: 12px 20px;
	margin: 7px 0;
	background-color: $light-fill;
	border: 1px solid $dark-fill;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
}

input:focus, textarea:focus, select:focus {
	box-shadow: 0 0 10px $accent;
	border: 1px solid $main;
	background-color: white;
}

.link {
  text-decoration: underline;
  color: $dark-main;
	font-size: 14px;
}

.link:hover {
  cursor: pointer;
}

.optional-tag {
	font-size: 14px;
	font-style: italic;
	color: $fill;
}

#stars {
	display: flex;
}

#stars > li > img {
	height: 17px;
	width: 17px;
}
