.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient($fill, $dark-fill);
  height: 50px;
  border-top: 1px solid $accent;
  box-sizing: border-box;
  box-shadow: 0px -2px 8px $dark-main;
}

.footer-text {
  color: white;
  font-size: 14px;
  margin-left: 30px;
}

.footer-links > ul {
  display: flex;
  margin-right: 30px;
}

.footer-links > ul > li {
margin-left: 20px;
}

.footer-links img {
  width: 25px;
  height: 25px;
}
