.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $dark-fill;
  height: 50px;
  border-top: 1px solid $accent;
  box-sizing: border-box;
  box-shadow: 0px -2px 8px $dark-main;
  z-index: 10000;
}

.footer-text {
  color: white;
  font-size: 13px;
  margin-left: 30px;
}

.footer-links > ul {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.footer-links > ul > li {
margin: 0px 10px;
height: 24px;
width: 24px;
}

.footer-links > ul > li:hover {
  margin: 0px 8px;
  height: 28px;
  width: 28px;
}

.footer-links a {
  width: 100%;
  height: 100%;
}

.footer-links img {
  width: 100%;
  height: 100%;
}
