.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.image-container {
  position: absolute;
  bottom: 50px;
  background: linear-gradient(white, $dark-main);
}

.tile-images {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.tile-images > img {
  width: -webkit-calc(100vw / 16);
  height: -webkit-calc(100vw / 16);
  min-width: 60px;
  max-width: 120px;
  min-height: 60px;
  max-height: 120px;
  opacity: 0.4;
}

#top-home {
  height: -webkit-calc(50vh);
  min-height: 250px;
}

.city-link {
  width: -webkit-calc(100vw / 16);
  height: -webkit-calc(100vw / 16);
  min-width: 60px;
  max-width: 120px;
  min-height: 60px;
  max-height: 120px;
  border: 1px solid white;
  box-sizing: border-box;
  opacity: 1;
}

.city-link:hover {
  box-shadow: 0px 0px 20px $accent;
}
