.home {
  height: -webkit-calc(100vh - 50px);
  overflow-y: hidden;
  background-image: url('https://res.cloudinary.com/dlhshbg79/image/upload/v1487481348/anete-lusina-146471_qboafk.jpg');
  background-size: cover;
}

#home-title {
  position: absolute;
  top: -webkit-calc(67vh);
  left: 100px;
  display: flex;
  align-items: baseline;
}

#home-title > h2 {
  text-decoration: overline;
  font-size: 60px;
  font-weight: 400;
  color: $accent;
  text-shadow: 0px 0px 10px white;
}

#home-title > h1 {
  color: $dark-main;
  font-size: 80px;
  text-shadow: 0px 0px 10px white;
}

#home-caption > h2 {
  position: absolute;
  top: -webkit-calc(67vh + 85px);
  left: 100px;
  color: black;
}

#home-auto {
  position: absolute;
  top: -webkit-calc(20vh + 60px);
  left: 25vw;
  height: 50px;
  width: 50vw;
  box-shadow: 0px 0px 5px black;
  background: white;
}

#home-auto:focus {
  box-shadow: 0px 0px 10px $accent;
}

#now-serving {
  position: absolute;
  top: -webkit-calc(18vh);
  left: 100px;
}

#now-serving > h2 {
  font-size: 18px;
  text-shadow: 0px 0px 5px black;
  font-style: italic;
  color: white;
}
