.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: rgba(46,47,48,0.6);
  width: 100%;
  z-index: 1000;
  height: 80px;
  border-bottom: 1px solid $accent;
  box-sizing: border-box;
}

.navbar .logo {
  width: 100px;
  height: 50px;
  margin-left: 30px;
}

.navbar .right-half ul {
  display: flex;
  justify-content: space-between;
}

.navbar .right-half ul li {
  padding-right: 30px;
  font-size: 15px;
  color: white;
}

.nav-link:hover {
  color: $hover-main;
  cursor: pointer;
}
