.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#9994FF, white);
  color: black;
  opacity: 100%;
  min-height: 75px;
}

.navbar .logo {
  max-width: 100px;
  max-height: 50px;
  padding-left: 20px;
}

.navbar .right-half ul {
  display: flex;
  justify-content: space-between;
}

.navbar .right-half ul li {
  padding-left: 10px;
  padding-right: 20px;
}
