.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(46,47,48,0.9);
  width: 100%;
  height: 60px;
  border-bottom: 1px solid $accent;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px $dark-main;
  z-index: 100;
}

.navbar .left-half {
  display: flex;
  align-items: center;
}

.navbar .logo {
  width: 50px;
  height: 30px;
  margin-left: 30px;
}

.navbar .right-half ul {
  display: flex;
  justify-content: space-between;
}

.navbar li {
  font-size: 14px;
  color: white;
  list-style: none;
}

.navbar .right-half li {
  margin-right: 30px;
}

.navbar .left-half > li {
  margin-left: 20px;
}

.nav-link:hover {
  color: $hover-main;
  cursor: pointer;
}

#nav-auto {
  height: 35px;
  width: 250px;
  font-size: 12px;
  margin-left: 30px;
}
