// TODO: fade in arrows on hover AND change arrow font....

.restaurant-index {
  width: 50%;
  // height: auto;
  margin: 30px;
  min-width: 300px;
}

.restaurant-index-caption {
  display: flex;
  justify-content: space-around;
  padding: 30px 0px 30px 0px;
}

.slick-arrow.slick-prev {
  display: none !important;
  left: 10px;
  z-index: 10;
}

.slick-arrow.slick-next {
  display: none !important;
  right: 20px;
  z-index: 10;
}

.carousel-container:hover .slick-arrow.slick-prev {
  display: block !important;
}

.carousel-container:hover .slick-arrow.slick-next {
  display: block !important;
}

.slick-arrow.slick-prev:before {
  content: '<';
  font-size: 50px;
  opacity: 0.7;
  color: white;
  text-shadow: 3px 0px 6px black;
  line-height: 0;
}

.slick-arrow.slick-next:before {
  content: '>';
  font-size: 50px;
  opacity: 0.7;
  color: white;
  text-shadow: 0px 3px 6px black;
  line-height: 0;
}
