// TODO: STYLE THIS MORE

.restaurant-form-container {
  padding: 0px -webkit-calc(25%);
  padding-top: 150px;
  height: -webkit-calc(100vh - 80px)
}

.restaurant-form label {
  font-size: 16px;
  color: $dark-fill;
}

.restaurant-form input, .restaurant-form select, .restaurant-form textarea, .restaurant-form ul {
  margin-bottom: 20px;
}

.restaurant-form .error ul {
  margin-bottom: 10px;
}

#restaurant-button {
  margin-bottom: 120px;
}

#image-button {
  margin-bottom: 20px;
  background: white;
  color: $dark-main;
}

#image-button:hover {
  background: $light-fill;
}

#image-button:active {
  background: $fill;
}

.price {
  display: flex;
  justify-content: space-around;
}

.price-button {
  display: flex;
  justify-content: space-between;
}

.restaurant-input ul {
  margin-left: 10px;
}

.price li {
	display: flex;
  justify-content: space-between;
}

.price li input[type=radio] {
	width: 15px;
  margin: 0px 10px;
}

.image-thumbnails {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.image-thumbnails > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px -webkit-calc(2%) 10px -webkit-calc(2%);
  width: -webkit-calc(16%);
}

.image-thumbnails img {
  width: 100%;
  height: -webkit-calc(70%);
  overflow-y: hidden;
  padding: 0px;
  margin: 0px;
}

.image-thumbnails button {
  margin: 10px 0px 0px 0px;
  width: 100%;
  padding: 5px 0px;
  background: white;
  font-size: 10px;
  color: $dark-main;
}

.image-thumbnails button:hover {
  background: $light-fill;
}

.image-thumbnails button:active {
  background: $fill;
}
