.restaurant-detail {
  padding-top: 80px;
  height: -webkit-calc(100vh - 80px);
  height: -moz-calc(100vh - 80px);
}

.images-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $accent;
  background-color: black;
}

.images-detail > img:not(:last-child) {
  border-right: 5px solid black;
}

.images-detail > img {
  display: block;
  max-width: 600px;
  height: auto;
}

.restaurant-detail > div:not(.images-detail) {
  padding: 30px 120px;
  border-bottom: 1px solid $hover-main;
}

.restaurant-detail a {
  font-size: 14px;
  color: $dark-fill;
}

.title-detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.right-title-detail {
  display: flex;
}

.right-title-detail > button {
  font-size: 10px;
  margin: 0px 0px 0px 20px;
  background-color: white;
  color: $dark-main;
  padding: 5px;
  min-height: 25px;
  min-width: 120px;
}

.right-title-detail > button:hover {
  background-color: $light-fill;
}

.booking-buttons {
  display: flex;
}

.booking-buttons > button {
  padding: 9px 0px;
  font-size: 13px;
}

.booking-buttons > button:not(:last-child) {
  margin: 7px 30px 7px 0px;
}

.booking-buttons > button:last-child {
  margin-right: 0px;
}

.left-title-detail > * {
  padding-bottom: 5px;
}

.left-title-detail a {
  padding-right: 15px;
}

#review-title > a:last-child {
  font-style: italic;
}

.logistical-detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.address > div, .contact-info > a {
  padding-bottom: 5px;
}

#website {
  color: $dark-main;
}

.description > h2 {
  padding-bottom: 10px;
}

.description > a {
  font-family: $serif;
}
