// TODO: fade in arrows on hover AND change arrow font....

.index-page {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  height: -webkit-calc(100vh - 80px);
  height: -moz-calc(100vh - 80px);
}

.map {
  // TODO: temporary placeholder
  width: 40%;
  height: 100%;
  background-color: #7EC0EE;
  color: black;
}

.restaurant-index {
  width: 60%;
  min-width: 400px;
  height: 100%;
}

.restaurant-search-form-container {
  // background: linear-gradient(rgba(46,47,48,0.75), white);
  color: black;
  height: 120px;
  padding: 0px -webkit-calc(20% + 17px) 0px -webkit-calc(20%);
}

.restaurant-search-form {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.restaurant-search-input {
  width: 80%;
}

.restaurant-search-button {
  width: 15%;
}

.index-list {
  height: -webkit-calc(100vh - 200px);
  height: -moz-calc(100vh - 200px);
  overflow-y: scroll;
  padding: 0px -webkit-calc(20%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid $light-fill;
}

.restaurant-index-caption {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid $hover-main;
  margin: 5px 0px 40px 0px;
  padding: 5px;
  font-size: 14px;
  color: $dark-fill;
}

.right-caption {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.left-caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-caption > *, .left-caption > *:not(:last-child) {
  padding-bottom: 6px;
}

#index-item-title {
  font-size: 22px;
  color: black;
}

#num-reviews {
  font-style: italic;
  padding: 0px;
}

.caption-bottom > a {
  padding-right: 10px;
}

.carousel-container {
  border-bottom: 1px solid $accent;
  box-sizing: border-box;
}

.slick-arrow.slick-prev {
  opacity: 0 !important;
  left: 22px;
  z-index: 10;
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
}

.slick-arrow.slick-next {
  opacity: 0 !important;
  right: 20px;
  z-index: 10;
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
}

.carousel-container:hover .slick-arrow.slick-prev {
  opacity: 1 !important;
}

.carousel-container:hover .slick-arrow.slick-next {
  opacity: 1 !important;
}

.slick-arrow.slick-prev:before {
  content: '\f053';
  font-family: FontAwesome;
  font-size: 25px;

  opacity: 0.7;
  color: white;
  text-shadow: 3px 0px 6px black;
  line-height: 0;
}

.slick-arrow.slick-next:before {
  content: '\f054';
  font-family: FontAwesome;
  font-size: 25px;
  opacity: 0.7;
  color: white;
  text-shadow: 0px 3px 6px black;
  line-height: 0;
}
