// TODO: fade in arrows on hover AND change arrow font....

.index-page {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  height: -webkit-calc(100vh - 80px);
  height: -moz-calc(100vh - 80px);
}

.map {
  // TODO: temporary placeholder
  width: 50%;
  height: 100%;
  background-color: $fill;
  color: black;
}

.restaurant-index {
  width: 50%;
  min-width: 400px;
  height: 100%;
}

.restaurant-filter-form {
  // TODO: temporary placeholder
  background-color: $dark-fill;
  color: black;
  height: 120px;
}

.index-list {
  height: -webkit-calc(100vh - 200px);
  height: -moz-calc(100vh - 200px);
  overflow-y: scroll;
  padding: 0px -webkit-calc(15%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  background-color: $light-fill;
}

.restaurant-index-caption {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $hover-main;
  margin: 25px 0px 40px 0px;
  font-size: 16px;
  color: $dark-fill;
}

.right-caption {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.left-caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-caption > *, .left-caption > * {
  padding-bottom: 6px;
}

#index-item-title {
  font-size: 22px;
  color: black;
}

.carousel-container {
  border-bottom: 3px solid $accent;
  box-sizing: border-box;
}

.slick-arrow.slick-prev {
  display: none !important;
  left: 10px;
  z-index: 10;
}

.slick-arrow.slick-next {
  display: none !important;
  right: 20px;
  z-index: 10;
}

.carousel-container:hover .slick-arrow.slick-prev {
  display: block !important;
}

.carousel-container:hover .slick-arrow.slick-next {
  display: block !important;
}

.slick-arrow.slick-prev:before {
  content: '<';
  font-size: 50px;
  opacity: 0.7;
  color: white;
  text-shadow: 3px 0px 6px black;
  line-height: 0;
}

.slick-arrow.slick-next:before {
  content: '>';
  font-size: 50px;
  opacity: 0.7;
  color: white;
  text-shadow: 0px 3px 6px black;
  line-height: 0;
}
