.restaurant-detail {
  padding-top: 60px;
  height: -webkit-calc(100vh - 110px);
  height: -moz-calc(100vh - 110px);
}

.images-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $accent;
  background-color: black;
}

.images-detail > img:not(:last-child) {
  border-right: 5px solid black;
}

.images-detail > img {
  display: block;
  width: -webkit-calc(30%);
  max-width: 600px;
  min-width: 300px;
  height: auto;
}

.restaurant-detail > div:not(.images-detail) {
  padding: 30px -webkit-calc(12%);
  border-bottom: 1px solid $hover-main;
}

.restaurant-detail a {
  font-size: 14px;
  color: $dark-fill;
}

.title-detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.right-title-detail {
  display: flex;
}

.right-title-detail > button {
  font-size: 10px;
  margin: 0px 0px 0px 20px;
  background: white;
  color: $dark-main;
  padding: 5px;
  min-height: 25px;
  min-width: 120px;
}

.right-title-detail > button:hover {
  background: $light-fill;
}

.right-title-detail > button:active {
  background: $fill;
}

.left-title-detail > * {
  padding-bottom: 5px;
}

.left-title-detail a {
  padding-right: 15px;
}

#review-title {
  display: flex;
}

#review-title > ul {
  margin-right: 10px;
}

#review-title > a:last-child {
  font-style: italic;
}

.logistical-detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.address > div, .contact-info > a {
  padding-bottom: 5px;
}

#website {
  color: $dark-main;
}

.restaurant-detail h2 {
  margin-bottom: 25px;
}

#review-detail > ul > li {
  padding-bottom: 20px;
  border-bottom: 1px solid $fill;
  margin-bottom: 20px;
}

#review-detail #stars {
  margin-bottom: 10px;
}

#review-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#timestamp {
  font-size: 12px;
  font-style: italic;
  color: $fill;
}

#review-detail {
  padding-bottom: 70px;
  margin-bottom: 30px;
}

#unfavorite {
  background: $dark-main;
  color: white;
}

#unfavorite:active {
  background: $light-fill;
  color: $dark-main;
}
