.restaurant-detail {
  padding-top: 80px;
  height: -webkit-calc(100vh - 80px);
  height: -moz-calc(100vh - 80px);
}

.images-detail {
  display: flex;
  align-items: center;
  border-top: 2px solid $accent;
  border-bottom: 1px solid $accent;
}

.images-detail > img:not(:last-child) {
  border-right: 5px solid black;
}

.restaurant-detail > div:not(.images-detail) {
  padding: 20px 80px;
  border-bottom: 1px solid $hover-main;
}

.booking-buttons {
  display: flex;
}

.booking-buttons button {
  padding: 9px 0px;
  font-size: 14px;
  margin: 20px;
}
