.index-page {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  height: -webkit-calc(100vh - 110px);
  height: -moz-calc(100vh - 110px);
}

.restaurant-index {
  width: 100%;
  height: 100%;
}

.restaurant-search-form-container {
  color: black;
  height: 120px;
  padding: 0px -webkit-calc(30%);
}

.restaurant-search-form {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

.restaurant-search-input {
  width: 80%;
}

.restaurant-search-button {
  width: 15%;
}

.index-list {
  height: -webkit-calc(100vh - 230px);
  height: -moz-calc(100vh - 230px);
  padding-right: -webkit-calc(2%);
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid $light-fill;
}

.index-list > ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.restaurant-index-caption {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid $hover-main;
  margin: 15px 0px 60px 0px;
  padding: 5px;
  font-size: 14px;
  color: $dark-fill;
}

.restaurant-index-item {
  width: 36vw;
  max-width: 450px;
  min-width: 225px;
  margin: 0px -webkit-calc(2%);
}

.right-caption {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.left-caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-caption > *, .left-caption > *:not(:last-child) {
  padding-bottom: 6px;
}

#index-item-title {
  font-size: 22px;
  color: black;
}

#num-reviews {
  font-style: italic;
  padding: 0px;
}

.caption-bottom > a {
  padding-right: 10px;
}

.carousel-container {
  border-bottom: 1px solid $accent;
  box-sizing: border-box;
  background: black;
  width: 36vw;
  max-width: 450px;
  min-width: 240px;
  height: 24vw;
  max-height: 300px;
  min-height: 160px;
  overflow: hidden;
}

.slick-arrow.slick-prev {
  opacity: 0 !important;
  left: 22px;
  z-index: 10;
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
}

.slick-arrow.slick-next {
  opacity: 0 !important;
  right: 20px;
  z-index: 10;
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
}

.carousel-container:hover .slick-arrow.slick-prev {
  opacity: 0.8 !important;
}

.carousel-container:hover .slick-arrow.slick-next {
  opacity: 0.8 !important;
}

.slick-arrow.slick-prev:before {
  content: '\f053';
  font-family: FontAwesome;
  font-size: 25px;
  opacity: 0.7;
  color: white;
  text-shadow: 3px 0px 6px black;
  line-height: 0;
}

.slick-arrow.slick-next:before {
  content: '\f054';
  font-family: FontAwesome;
  font-size: 25px;
  opacity: 0.7;
  color: white;
  text-shadow: 0px 3px 6px black;
  line-height: 0;
}
