.reservation-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.reservation-input > * {
  width: -webkit-calc(31%);
}

#message {
  font-size: 15px;
  font-style: italic;
  color: $dark-main;
}

.booking-buttons {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-around;
}

.booking-buttons > button {
  padding: 9px 0px;
  font-size: 16px;
  width: -webkit-calc(18%);
}

.booking-buttons > button:not(:last-child) {
  // margin: 7px 30px 7px 0px;
}

.booking-buttons > button:last-child {
  margin-right: 0px;
}
