.session-form {
  padding: 30px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  border: 3px outset $fill;
}

.session-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-alt {
  display: flex;
  justify-content: space-around;
  margin: 15px 20px 7px 7px;
  font-size: 14px;
}

#alt-link {
  text-decoration: underline;
  color: $dark-main;
}

#alt-link:hover {
  cursor: pointer;
}
