.user-profile {
  padding-top: 60px;
  height: -webkit-calc(100vh - 110px);
  height: -moz-calc(100vh - 110px);
}

.profile-tabs {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  background: $light-fill;
}

.profile-tabs > button {
  background: $light-fill;
  color: $fill;
  border: 1px solid transparent;
  padding: 10px 0px;
  margin: 0px;
  width: 20vw;
  border-bottom: 1px solid $dark-fill;
}

.profile-tabs > button:hover {
  background: white;
  border: 1px solid $fill;
  color: $main;
}

#selected-tab {
  background: white;
  color: $dark-main;
  border-top: 2px solid $accent;
  border-right: 1px solid $dark-fill;
  border-left: 1px solid $dark-fill;
  border-bottom: 1px solid white;
}

.profile-data {
  position: relative;
  padding: 0px -webkit-calc(12%);
  height: -webkit-calc(100vh - 212px);
  overflow-y: scroll;
}

.profile-data > ul > li {
  display: flex;
  padding: 30px 0px;
  justify-content: space-between;
  border-bottom: 1px solid $fill;
}

.profile-data #message {
  position: absolute;
  top: 40px;
}

#review-profile-item {
  display: block;
}

#review-profile-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.profile-data > ul > li:first-child {
  margin-top: 10px;
}

.profile-data > ul > li:last-child {
  border-bottom: none;
  margin-bottom: 20px;
}

#profile-thumbnail {
  width: 180px;
  height: 120px;
}

#profile-thumbnail:hover {
  box-shadow: 0 0 10px $main;
}

#profile-thumbnail:active {
  box-shadow: 0 0 10px $accent;
}

.left-profile-item {
  display: flex;
}

.right-profile-item {
  display: flex;
  flex-direction: column;
}

#profile-details {
  margin-left: 25px;
}

#profile-details > h2 {
  margin-bottom: 6px;
}

#profile-details a {
  margin-right: 7px;
  font-size: 13px;
}

#profile-details > div {
  margin-top: 7px;
}

#profile-button {
  background: white;
  padding: 0px;
  margin: 2px 0px;
  color: $dark-fill;
  border: none;
  font-size: 12px;
  font-style: italic;
  text-decoration: underline;
  text-align: end;
}

#profile-button:hover {
  color: $main;
}

#profile-button:active {
  color: $accent;
}

#review-title {
  margin-top: 6px;
}

.review-list .left-profile-item {
  display: flex;
  flex-direction: column;
}

.review-list .left-profile-item > * {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
  font-size: 13px;
}

#rev-rest {
  font-style: italic;
  color: $fill;
  margin-top: 1px;
}
